<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Početna stranica</title>
    <link rel="stylesheet"  href="../static/styles_hz.css">
</head>
<body>
    <div class="kont">
    <header>
        <div class="vlak">
            <img src="../static/hz_logo.png" alt="Hz logo" width="70px">  
            <a href="?id=7">PUTNICI</a>
            <a href="?id=8">TVRTKA</a>
        </div>
    </header>
    <nav>
        <a href="/logout">VOZNI RED - KUPNJA KARTE</a>
        <a href="?id=1">PONUDE I USLUGE</a>
        <a href="?id=2">KORISNIČKI CENTAR</a>
        <a href="?id=3">GALERIJA</a>
        <a href="?id=4">MOJ HŽPP</a>
        <a href="?id=5">KORISNIČKI CENTAR</a>
        <a href="?id=6">KONTAKT</a>
    </nav>
